@import './base.css';

#app {
  text-align: center;
  font-family: Arial, sans-serif;

}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}


@media (min-width: 1024px) {

}


h1 {
  margin-bottom: 10px;
}

hr {
  margin: 20px 0;
  border: none;
  border-top: 2px solid #ccc;
}


label {
  font-size: 18px;
  margin-left: 5px;
}

p {
  font-size: 16px;
}

.exercises {
  margin-top: 20px;
}
